[submodule "make"]
	path = make
	url = https://github.com/renatocf/make.git
[submodule "external/gbenchmark"]
	path = external/gbenchmark
	url = https://github.com/google/benchmark.git
[submodule "external/gmock"]
	path = external/gmock
	url = https://chromium.googlesource.com/external/googlemock.git
[submodule "external/gtest"]
	path = external/gtest
	url = https://chromium.googlesource.com/external/googletest.git
